<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alternative Fuel Stations</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
    <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>

<body>

  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1>Alternative Fuel Stations Dashboard</h1>
        <h3>Use the interactive charts below to explore the dataset</h3>
        <p><br></p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-3">
        <div class="well">
          <h5>Station ID No.:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Station Info</h3>
          </div>
          <div id="stations-metadata" class="panel-body text-left" style="height: 250px;"></div>
        </div>
      </div>
      <div class="col-lg-3 text-left">
        <div id="bar" style="width: 350px"></div>
      </div>
      <div class="col-lg-3 text-left">
        <div id="gauge" style="width: 350px"></div>
      </div>
      <div class="col-lg-3 text-right">
        <div div id="sp-map" style="height: 300px"></div>
      </div>
    </div>
    <div class="row text-right">
      <div class="col-lg-3 text-right">
        <div>
          <input type="search" 
                 placeholder="zip" 
                 id="search"
                 minlength="5"
                 maxlength=5
                 style="width:100px"
                 onkeypress="return event.charCode >= 48 && event.charCode <= 57"></>
            <button id="zbutton" onclick="createClusterMap(search.value);" type="button" style="width:60px">Search</button>
        </div>
      </div>
      <div class="col-lg-7 text-left">
        <div div id="map" style="height: 450px; display:block; margin: auto"></div>
      </div>
      <div class="col-lg-2 text-right">
      
      </div>
    </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
  
  <!-- Team Scripts -->
  <script src="../static/js/app.js"></script>
  <script src="../static/js/createClusterMap.js"></script>
  <script src="../static/js/createHBarChart.js"></script>
  <script src="../static/js/createSinglePointMap.js"></script>
  <script src="../static/js/createGauge.js"></script>
  <script src="../static/js/createStationInfo.js"></script>
  
  
</body>

</html>
