<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alternative Fuel Stations</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
    <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

</head>

<body>

  <div class="container">
    <div class="row">
      <!--div class="col-md-8 jumbotron text-center"-->
      <div class="col-lg-2 text-center">
      </div>
      <div class="col-lg-8">
        <h1>Alternative Fuel Stations Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <div class="well">
          <h5>Station ID No.:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Station Info</h3>
          </div>
          <div id="stations-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-lg-4">
        <div id="bar"></div>
      </div>
      <div class="col-lg-4 text-center">
        <div div id="map" style="width: 400px; height: 400px"></div>
        <!--div id="gauge"></div-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 text-center">
        <!--div div id="map" style="width: 400px; height: 400px"></div-->
        <div id="gauge"></div>
      </div>
      </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

  <script src="../static/js/app.js"></script>
  <script src="../static/js/createClusterMap.js"></script>
  <script src="../static/js/createHBarChart.js"></script>
  <script src="../static/js/createLayerMap.js"></script>
  <script src="../static/js/createSinglePointMap.js"></script>
  <script src="../static/js/createGauge.js"></script>
  <script src="../static/js/createStationInfo.js"></script>
  
</body>

</html>
